.TabsContainer {
    position: relative;
}

.TabsHeader {
    position: relative;

    & ul {
        position: relative;
        display: flex;
        font-size: 1em;
        padding: 0px;
        overflow: auto;
        list-style: none;

        & .horizontal-tab {
            margin: 0 10px;
        }

        & li {
            margin: 0 10px;
            text-transform: uppercase;
        }

        & li:first-child {
            margin-left: 0;
        }

        & li:last-child {
            margin-right: 0;
        }

        & svg {
            width: 15px;
            height: 15px;
        }
    }
}