.TextFieldStyled__TextFieldContainer {
	position: relative;
	display: flex;
	align-items: center;
}

.TextFieldStyled__TextFieldContainer input {
	padding-top: 8px;
	padding-bottom: 8px;
}

.TextFieldStyled__TextFieldContainer svg {
	fill: var(--secondary-color);
}

.TextFieldStyled__TextFieldInput {
	position: relative;
	width: 100%;
	outline: none;
	font-size: 1.1em;
	line-height: 1.5;
	padding: 15px 20px 15px 38px;

	display: block;
	height: 40px;

	border-radius: 8px;
	border: unset;
	background: linear-gradient(to left, rgba(145, 182, 202, 0.25), rgb(235, 245, 250) 20%);
}

.TextFieldStyled__TextFieldInput:focus {
	background: linear-gradient(to left, rgb(194, 224, 238), rgb(194, 224, 238) 20%);
}

.TextFieldStyled__StartIconContainer {
	position: absolute;
	left: 16px;
}

.TextFieldStyled__IconContainer {
	position: absolute;
	right: 1em;
	cursor: pointer;
}
