.GlintContainer {
	position: relative;
	margin: 0px auto;
	padding: 0 15px;
	// screen
	width: 100%;
}

@media (min-width: 480px) {
	.GlintContainer {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 640px) {
	.GlintContainer {
		padding-left: 24px;
		padding-right: 24px;
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.GlintContainer {
		padding-left: 32px;
		padding-right: 32px;
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.GlintContainer {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.GlintContainer {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) {
	.GlintContainer {
		max-width: 1536px;
	}
}