.Container {
	background-color: rgb(250, 250, 250);
	min-height: calc(100vh - var(--menu-height) - 10px);
	overflow-y: hidden;
}

.HeaderWrapper {
	margin-top: 40px;
}

.Header__Container {
	text-align: center;
}

.Header__TitleWrapper {
	margin-bottom: 20px;
}

.InnerWrapper {
	width: 100%;
	max-width: 360px;
	margin: auto;
}
