.BadgeContainer {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 0 4px;
	padding: 0 4px;
	min-width: 18px;
	height: 18px;
	color: white;
	border-radius: 3px;
	background-color: var(--secondary-color);

	& span {
		font-size: 12px;
		font-weight: 700;
		padding: 0 5px;
	}
}
